<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/df24c2fdc0.js" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="back">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <h2 class="navbar-brand"><i class="fa fa-university"> Covid System</i></h2>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"><i class="fas fa-home"> Home</i></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="add"><i class="fas fa-user-friends"> Add details</i></a>
                    </li>
                </ul>
            </div>
        </div>
</nav>
<br>
<div class="container-lg" id="four">
    <h1 id="one">Covid Tracking</h1>
    <h3 class="two">"Enabling to track covid"</h3>
    <hr>
    <br>
    <h3 class="two">List of all states with cases</h3>
    <br>
  <div>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">State Name</th>
        <th scope="col">Date of Record</th>
        <th scope="col">No of Samples</th>
        <th scope="col">No of Deaths</th>
        <th scope="col">No of Positive</th>
        <th scope="col">No of Negative</th>
        <th scope="col">No of Discharge</th>
        </tr>
    </thead>
    <tbody>
        <%for(i=0;i<res1.length;i++){ %>
        <tr>
        <th scope="row"><%=i+1%></th>
        <td><%=res1[i].State_Name%></td>
        <td><%=res1[i].Date_of_Record%></td>
        <td><%=res1[i].No_of_Samples%></td>
        <td><%=res1[i].No_of_Deaths%></td>
        <td><%=res1[i].No_of_Positive%></td>
        <td><%=res1[i].No_of_Negative%></td>
        <td><%=res1[i].No_of_Discharge%></td>
        </tr>
        <%}%>
    </tbody>
    </table>
  </div>
</div>
</body>
</html>